<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav bar</title>
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="back"></div>
    <nav class="nav-bar">
        <div class="logo">
            <h1>Impact.</h1>
        </div>
        <div class="dropdown">
        <span class="fa fa-bars fa-3x" id="menu-bar"></span>
           
        <div class="links">
            <ul>
                <li><a href="#" class = "page-active">Home</a></li>
                <li><a href="#About" class="nav-hover">About</a></li>
                <li><a href="#"class="nav-hover">Contact Us</a></li>
                <li><a href="#"class="nav-hover">Expert</a></li>
                <li><a href="#"class="nav-hover">My Files</a></li>
                <li><a href="/login"class="nav-hover">Login/Sign Up</a></li>
                
            </ul>

        </div>
    </div>
    </nav>
    <footer id ="About">
        <div class="footer-block">    
            <ul>
            <h2>Office</h2>
            <p style="font-weight: bold;">Sejbahar <br> Raipur <br> Chattishgarh - 492015</p>
            <h4>mohdadil@iitbhilai.ac.in</h4>
            <h4>ratnakarg@iitbhilai.ac.in</h4>
            <h3>+90 9044906728</h3>
            </ul>
        </div>
        <div class="footer-block">
            <ul>
                <h2>Links</h2>
                <br>
                <li>Home</li>
                <li>Contact</li>
                <li>Email</li>
                <li>GitHub</li>
                <li>About</li>
            </ul>
        </div>
        <div class="footer-block">
            <ul>
                <h2>Social Media</h2>
                <br>
                <a href="https://github.com/SaMMYFrosT221b/" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
                <a href="mailto::ratnakarg@iitbhilai.ac.in" target="_blank"><i class="fa-regular fa-envelope fa-2x"></i></a>
                <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
                <a href="#"><i class="fa-brands fa-youtube fa-2x"></i></a>
                <a href="#"><i class="fa-brands fa-reddit fa-2x"></i></a>
                <a href="#"><i class="fa-brands fa-stack-overflow fa-2x"></i></a>   
            </ul>
        </div>
    </footer>
</body>
</html>