@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body{
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family: 'Rajdhani', sans-serif;
}
@media only screen and (max-width:1100px){

    .nav-bar{
        display: flex;
        justify-content: space-between;
        background-color: #008374;
        height: 50vh;
        width: 100%;
    }
    .dropdown {
        position: absolute;
        right:10px;
        display: inline-block;
      }
    .dropdown:hover .links{
        display: block;
    }
    .fa{
        position: absolute;
        right: 0;
    }
    .logo{
        margin-left: 20px;
        font-size: 25px;
    }
    
    .logo h1{
        margin-top: 0px;
    }
    
    .links{
        display: none;
        position: relative;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding:2px;
        z-index: 1;
        color: #008374;
        margin-top: 60px;

    }
    .links ul{
        padding: 5px;
    }
    ul li{
        list-style: none;
        padding: 5px;
        border-bottom: 1px solid black;
    }
    
    ul li a{
        text-decoration: none;
        font-size: 20px;
    }
}
@media only screen and (min-width:1100px){

    .nav-bar{
        display: flex;
        justify-content: space-between;
        background-color: #008374;
        padding: 10px;
    }
    
    .logo{
        /* float: right; */
        margin-left: 50px;
        font-size: 30px;
    }
    .logo h1{
        margin-top: 0px;
        font-size: 4rem;
        margin-bottom: 0px;
    }
    #menu-bar{
        display: none;
    }
    .fa{
        display:none;
    }
    .links{
        /* float: right; */
        margin-right: 20px;
    }
    nav ul li{
        list-style: none;
        display: inline;
        padding: 15px;
    }
    
    ul li a{
        text-decoration: none;
        color: white;
        font-size: 1.59rem;
    }
    .page-active, .nav-hover:hover{
        border-bottom: 3px solid red;
    }
}
footer{
    background-color: #008374;
    width:100%;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    color:white;
    flex-wrap: wrap;
}
footer a{
    text-decoration: none;
    color: white;
}
footer ul{
    list-style: none;
    font-size: 1.2rem;
}
i{
    padding: 10px;
    cursor: pointer;
}
footer h4,h3,h2{
    margin:0;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.container{
    height:40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin:5vh;
    margin-bottom: 5vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.container span,input{
    margin-bottom:8px;
    font-size: 1.3rem;
    font-weight: 200;
    width:100%;
}
